:root {
    --primary: #007A6D;
    --secondary: #2D3748;
    --bg: #E2E8F0;
    --white: #ffffff;
}
body { font-family: 'Plus Jakarta Sans', sans-serif; background-color: var(--bg); margin: 0; padding: 0; padding-bottom: 90px; }
.container { max-width: 500px; margin: auto; padding: 15px; }
.card { background: var(--white); border-radius: 15px; padding: 15px; margin-bottom: 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
.card img { width: 100%; border-radius: 10px; height: 150px; object-fit: cover; cursor: pointer; }
h1 { color: var(--secondary); margin-bottom: 20px; text-align: center; }
h2 { color: var(--secondary); margin: 10px 0; cursor: pointer; }
.btn { background: var(--primary); color: white; border: none; padding: 15px; width: 100%; border-radius: 8px; font-weight: bold; cursor: pointer; font-size: 1.2rem; }
.nav-bar { 
    position: fixed; bottom: 0; width: 100%; max-width: 500px; background: white; 
    display: flex; justify-content: space-around; padding: 15px 0; 
    border-top: 1px solid #ddd; border-radius: 20px 20px 0 0;
}
.nav-bar a { text-decoration: none; color: var(--secondary); font-weight: bold; font-size: 1.1rem; display: flex; flex-direction: column; align-items: center; }
.nav-bar a.active { color: #E67E22; }
li { font-size: 1.5rem; padding: 25px 10px; border-bottom: 1px solid #eee; display: flex; align-items: center; }
input[type="checkbox"] { transform: scale(2.5); margin-right: 20px; }
.panel { padding: 15px; display: none; background-color: #fff; border: 1px solid #ddd; }
